.box2 {
  overflow-y: auto;
  .box2p1 {
    color: #d96581;
    font-weight: 700;
    font-family: "Nunito";
    font-size: 30px;
    margin-bottom: 0;
    @media (max-width: 400px) {
      font-size: 24px !important;
    }
  }
  .box2img1 {
    cursor: pointer;
    @media (max-width: 400px) {
      width: 20px;
    }
  }

  p {
    font-size: 20px;
  }
  .superdiv {
    display: flex !important;
    flex-direction: column !important;
  }
  @media (max-width: 870px) {
    width: 90% !important;
    height: 90% !important;
    .d1 {
      flex-direction: column;
      .t1,
      .t2 {
        width: 100% !important;
      }
      .t2 {
        margin-top: 15px;
      }
      .a1 {
        display: none;
      }
    }
    .formsdiv {
      flex-direction: column;
      .t3,
      .t4 {
        width: 100% !important;
      }
      .t4 {
        margin-top: 15px;
      }
    }
  }
  .endbtndiv {
    display: flex;
    justify-content: end;
    padding: 20px 0px;
  }
}
