.productSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 80%;
  align-self: center;
  @media (max-width: 768px) {
  }

  .lastslider {
    @media (max-width: 768px) {
      display: block;
    }
  }
  .dabba {
    min-width: 300px;
    //min-height: 550px;
    width: 300px;
    // height: 550px;
    //height: 550px;
    background-color: #f8f8f8;
    border-radius: 20px;
    @media (max-width: 415px) {
      width: auto !important;
      min-width: auto !important;
    }
    @media (max-width: 768px) {
      margin-top: 20px;
    }
    .dabbap1 {
      font-weight: 600;
      color: #000000;
      margin-top: 15px;
    }
    .dabbap2 {
      color: #818181;
      font-size: 12px;
      // line-height: 0;
      padding-top: 10px;
    }
    .dabbap3 {
      color: #d96581;
      padding-top: 15px;
      font-size: 12px;
    }
    .dabbap4 {
      font-weight: 700;
      color: #000000;
      font-size: 17px;
      padding-top: 10px;
    }
    .dabbaa1 {
      color: #ffffff;
      text-transform: none;
      background-color: #d96581;
      border-radius: 10px;
      margin-right: 10px;
      width: 80%;
      height: 40px;
      text-align: center;
      transition: 0s;
    }
    .dabbaa1:hover {
      background-color: #ffffff;
      color: #d96581;
      border: 1px solid #d96581;

      .dabbab1 {
        background-color: #ffffff;
        color: #d96581;
        border-bottom: 0.5px solid #d96581;
        border-radius: 0;
      }
    }
    .dabbab1 {
      color: #ffffff;
      text-transform: none;
      background-color: #d96581;
      border-radius: 10px;
      margin-right: 10px;
      width: 80%;
      height: 40px;
      font-size: 12px;
      transition: 0s;
    }
    .dabbab1:hover {
      background-color: #ffffff;
      color: #d96581;
      border-bottom: 0.5px solid #d96581;
      border-radius: 0;
    }
  }
  .carosel {
    @media (max-width: 600px) {
      display: flex !important;
      flex-direction: column !important;
    }
    .right_arr {
      @media (max-width: 600px) {
        align-self: self-end !important;
      }
    }
    .left_arr {
      @media (max-width: 600px) {
        align-self: self-start !important;
      }
    }
  }
  .react-multi-carousel-list {
    width: 90%;
    align-self: center;
    //justify-content: center;
    align-items: center;
    .react-multi-carousel-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      height: auto;
    }
  }
  .carousel-button-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-self: center;
    position: relative;
    bottom: 300px;
    @media (max-width: 1220px) {
      position: relative;
      bottom: 300px;
    }
    @media (max-width: 1012px) {
      bottom: 300px;
    }
    @media (max-width: 605px) {
      bottom: 300px;
    }
    @media (max-width: 465px) {
      bottom: 300px;
      width: 100% !important;
      svg {
        width: 40px !important;
      }
    }
    @media (max-width: 450px) {
      display: none !important;
    }
  }
}
